# v2.1 - 류호선
#   DOCKER_SECRETS 를 추가하였습니다. (하위 호환성 유지)
# v2.2 - 류호선
#   submodules: recursive 추가
# v2.3 - 류호선
#   - helmRepository 입력값을 추가하였습니다. (기본값: 'jce-service-helm')
#   - buildContext 입력값을 추가하였습니다. (기본값: '.')
# v2.4 - 류호선
#   - buildContext 존재 시, 빌드 태그에 prefix로 추가합니다.
#   - yq를 사용하여 수동으로 태그 업데이트
# v2.5 - 류호선
#   - Helm 차트 수정 부분을 별도의 job 으로 분리하였습니다.
#   - concurrency 를 job 별로 설정하였습니다.
name: Build

on:
  workflow_call:
    inputs:
      # gha
      runner:
        required: false
        type: string
        default: ubuntu-22.04
      # Common
      env:
        required: true
        type: string
      target:
        required: true
        type: string
      propertyPath:
        required: false
        type: string
        default: 'image.tag'
      buildArgs:
        required: false
        type: string
      # interface UpdateTarget = {
      #   "registry": string;
      #   "imageName": string;
      #   "valueFilePath": string[];
      # }
      # interface UpdateTargets = {
      #   "aws": UpdateTarget;
      #   "ncp": UpdateTarget;
      # }
      updateTargets:
        required: true
        type: string
      dockerTarget:
        required: false
        type: string
        description: Docker target. It uses the value of `env` if not specified.
      helmRepository:
        required: false
        type: string
        default: jce-service-helm
      buildContext:
        required: false
        type: string

    secrets:
      AWS_ACCESS_KEY_ID:
        required: false
      AWS_SECRET_ACCESS_KEY:
        required: false
      NCP_ACCESS_KEY_ID:
        required: false
      NCP_SECRET_KEY:
        required: false
      MACHINE_TOKEN:
        required: true
      DOCKER_SECRETS:
        required: false

jobs:
  # 1. 도커 이미지를 빌드하고 푸시합니다.
  build-image:
    runs-on: ${{ inputs.runner }}
    outputs:
      tag: ${{ steps.name-tag.outputs.tag }}

    # 동시성 제어 설정
    # concurrency
    #   - env간 분리
    #   - dockerTarget 이 존재하는 경우 dockerTarget간 분리
    #   - PRD 환경에서 동시성 1로 제한 + 진행 중인 작업 취소
    concurrency:
      group: build-image/${{ inputs.env }}${{ inputs.dockerTarget && format('/{0}', inputs.dockerTarget) }}${{ inputs.env != 'prd' && format('/{0}', github.run_id) || '' }}
      cancel-in-progress: ${{ inputs.env == 'prd' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive # 서브모듈 초기화
        fetch-depth: 0

    # buildx는 빠른 도커 백엔드입니다. 빌드 속도 개선을 위해 추가했습니다.
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Name tag
      id: name-tag
      env:
        CONTEXT: ${{ inputs.buildContext }}
      run: |
        PREFIX=''
        if [ -n "$CONTEXT" ]; then
          PREFIX="$CONTEXT-"
        fi
        echo "tag=${PREFIX}$(TZ='Asia/Seoul' date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_OUTPUT

    - name: Set up JSON file
      id: set-json
      run: echo '${{ inputs.updateTargets }}' > updateTargets.json

    - name: Check for platform presence
      id: check-platform
      run: |
        CONTAINS_AWS=$(jq -r 'has("aws")' updateTargets.json)
        CONTAINS_NCP=$(jq -r 'has("ncp")' updateTargets.json)
        
        echo "contains_aws=$CONTAINS_AWS" >> $GITHUB_OUTPUT
        echo "contains_ncp=$CONTAINS_NCP" >> $GITHUB_OUTPUT

    # AWS 관련 작업
    - name: Configure AWS credentials
      if: ${{ steps.check-platform.outputs.contains_aws == 'true' }}
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Login to Amazon ECR
      if: ${{ steps.check-platform.outputs.contains_aws == 'true' }}
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    # NCP 관련 작업
    - name: Login to NCP Container Registry
      if: ${{ steps.check-platform.outputs.contains_ncp == 'true' }}
      uses: docker/login-action@v3
      with:
        registry: ${{ fromJSON(inputs.updateTargets).ncp.registry }}
        username: ${{ secrets.NCP_ACCESS_KEY_ID }}
        password: ${{ secrets.NCP_SECRET_KEY }}
        logout: false

    - name: Set tags
      id: tags
      run: |
        TAGS=""
        for type in $(jq -r 'keys[]' updateTargets.json); do
          TARGET=$(jq -r ".$type" updateTargets.json)

          if [ "$type" == "aws" ]; then
            AWS_IMAGE_NAME=$(echo "$TARGET" | jq -r '.imageName')

            TAG="${{ steps.login-ecr.outputs.registry }}/${AWS_IMAGE_NAME}:${{ steps.name-tag.outputs.tag }}"

            if [ -n "$TAGS" ]; then
              TAGS="$TAGS,$TAG"
            else
              TAGS="$TAG"
            fi
          elif [ "$type" == "ncp" ]; then
            NCP_REGISTRY=$(echo "$TARGET" | jq -r '.registry')
            NCP_IMAGE_NAME=$(echo "$TARGET" | jq -r '.imageName')

            TAG="${NCP_REGISTRY}/${NCP_IMAGE_NAME}:${{ steps.name-tag.outputs.tag }}"

            if [ -n "$TAGS" ]; then
              TAGS="$TAGS,$TAG"
            else
              TAGS="$TAG"
            fi
          fi
        done
        echo "tags=$TAGS" >> $GITHUB_OUTPUT

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ${{ steps.tags.outputs.tags }}
        secrets: |
          ${{ secrets.DOCKER_SECRETS }}
        build-args: ${{ inputs.buildArgs }}
        context: ${{ inputs.buildContext }}
        target: ${{ inputs.dockerTarget || inputs.env }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

  # 2. Helm 차트의 이미지를 업데이트하고 커밋합니다.
  update-tag:
    runs-on: ${{ inputs.runner }}
    needs: build-image

    # 동시성 제어 설정
    # concurrency
    #   - target간 분리
    concurrency:
      group: update-tag/${{ inputs.target }}
      cancel-in-progress: false

    steps:
    - name: Set up JSON file
      id: set-json
      run: echo '${{ inputs.updateTargets }}' > updateTargets.json

    - name: Checkout to Helm Repository
      uses: actions/checkout@v4
      with:
        repository: team-monolith-product/${{ inputs.helmRepository }}
        path: ${{ inputs.helmRepository }}
        token: ${{ secrets.MACHINE_TOKEN }}
        ref: ${{ inputs.target }}

    - name: Set changes
      id: changes
      run: |
        CHANGES="{}"
        for type in $(jq -r 'keys[]' updateTargets.json); do
          TARGET=$(jq -r ".$type" updateTargets.json)
          for VALUE_FILE_PATH in $(echo "$TARGET" | jq -r '.valueFilePath[]'); do
            if [ "$VALUE_FILE_PATH" != "null" ]; then
              CHANGES=$(echo $CHANGES | jq -c ".\"$VALUE_FILE_PATH\".\"${{ inputs.propertyPath }}\" = \"${{ needs.build-image.outputs.tag }}\"")
            fi
          done
        done
        echo "changes=$CHANGES" >> $GITHUB_OUTPUT

    # 주피터와 공통으로 사용할 수 있도록 yq를 사용하여 Helm 차트의 값을 수정합니다.
    # yaml-update-action 을 사용하는 경우에, 적용된 merge 문법들이 모두 랜더링 되는 현상이 발생합니다.
    # https://github.com/team-monolith-product/jce-jupyter-hub-helm/commit/1520f9b003cdd9e79c872fbe7a636a92756b6eac
    - name: Modify Helm Chart
      uses: mikefarah/yq@v4
      env:
        CHANGES: ${{ steps.changes.outputs.changes }}
      with:
        cmd: | # sh shell
          apk add --no-cache jq

          for change in $(echo "$CHANGES" | jq -c 'to_entries[]'); do
            FILE=$(echo "$change" | jq -r '.key')

            for kv in $(echo "$change" | jq -c '.value | to_entries[]'); do
              VALUE_PATH=$(echo "$kv" | jq -r '.key')
              VALUE=$(echo "$kv" | jq -r '.value')

              P=".$VALUE_PATH" V="$VALUE" \
              yq eval -i 'eval(strenv(P)) = strenv(V)' "${{ inputs.helmRepository }}/$FILE"
            done
          done

    - name: Commit and Push
      env:
        TARGET: ${{ inputs.target }}
      run: |
        cd ${{ inputs.helmRepository }}
        git config --global user.name "github-machine-monolith"
        git config --global user.email "github.machine.monolith@gmail.com"
        git add .
        git commit -m 'auto: Update Image Version to ${{ needs.build-image.outputs.tag }}'
        git push origin $TARGET
