name: Deploy on Comment

on:
  workflow_call:
    inputs:
      issue_number:
        required: true
        type: number
      comment_id:
        required: true
        type: number
      comment_body:
        required: true
        type: string
    secrets:
      MACHINE_TOKEN:
        required: false

jobs:
  merge-pr:
    if: ${{ inputs.comment_body == '/deploy' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          ref: develop
          fetch-depth: 0
          token: ${{ secrets.MACHINE_TOKEN || github.token }}

      - name: Merge PR to develop
        run: |
          PR_NUMBER=${{ inputs.issue_number }}
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git fetch origin pull/$PR_NUMBER/head:pr-branch
          git merge pr-branch --no-ff -m "Merge PR #$PR_NUMBER to develop"
          git push origin develop

      - name: Add end emoji reaction to the comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ inputs.comment_id }}
          reaction-type: 'rocket'
